/* font */
@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype");
}

/* Main styles */
:root {
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --gray: #d9d9d9;
  --side-margin: 48px;
  --header-padding-top: 32px;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0px;
  max-width: 1400px;
}
h1,
h2,
h3,
h4,
p,
#searchInput,
#searchInput::placeholder,
.filterButton,
#navMenu a,
#searchButton,
.footerLink {
  font-family: "Raleway";
}
h1 {
  margin: 32px 0px 0px 0px;
  font-size: 22px;
  font-weight: 700;
}
p {
  margin: 0px;
}
.pointer:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header,
main {
  display: flex;
  justify-content: space-between;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}
#bookiLogo {
  width: 61px;
  height: min-content;
  margin: 0px;
  margin-top: calc(var(--header-padding-top) - 4px);
  object-fit: contain;
}
#navMenu {
  display: flex;
  justify-content: space-between;
}
#navMenu a {
  font-size: 16px;
  margin: 0px;
  vertical-align: bottom;
  padding-left: 24px;
  padding-right: 24px;
}
.selectedNavButton {
  font-weight: 500;
  width: 50%;
  padding-top: calc(var(--header-padding-top) - 2px);
  border-top: 2px solid var(--main-blue);
  color: var(--main-blue);
}
.navButton {
  font-weight: 400;
  width: 50%;
  padding-top: var(--header-padding-top);
}
.navButton:hover {
  color: var(--main-blue);
  border-top: 2px solid #318aff;
  padding-top: calc(var(--header-padding-top) - 2px);
}

/* Main Page */
main {
  flex-direction: column;
}

#searchBar label,
#searchInput,
#searchInput::placeholder,
#searchButton,
#filtres h2,
#viewMoreButton {
  font-size: 18px;
  font-weight: 700;
}
.filterButton,
.filterButton i {
  font-size: 17px;
  font-weight: 600;
}
.title {
  font-size: 22px;
  font-weight: 700;
}
.subtitle {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
/* Recherche */
#searchBar {
  display: flex;
  width: 420px;
  height: 50px;
  margin-top: 16px;
}
#searchBar fieldset {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-color: transparent;
}
#searchBar label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 96%;
  border: 1px solid var(--gray);
  border-radius: 15px 0px 0px 15px;
  background-color: var(--gray);
}
#searchInput {
  padding-right: 16px;
  padding-left: 16px;
  flex: 1;
  border: 1px solid var(--gray);
  border-width: 1px 0px 1px 0px;
}
#searchInput::placeholder {
  color: #000000;
  opacity: 1;
}
#searchInput:focus::placeholder {
  color: #464646;
}
#searchInput:focus-visible {
  outline: 0px;
}
#searchButton {
  display: flex;
  padding: 0px 16px 0px 16px;
  align-items: center;
  background: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 0px 15px 15px 0px;

  text-align: center;
  color: #ffffff;
}

.info {
  margin-top: 32px;
}
.infoIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--main-blue);
  border: 1px solid var(--gray);
  border-radius: 12px;
  margin-right: 12px;
}
.infoIcon i {
  font-size: 12px;
  height: 0px;
  width: 0px;
  position: relative;
  right: 2px;
  bottom: 1px;
}
.infoIcon:hover {
  background-color: var(--light-blue);
}

/* Filtres */
#filtres {
  display: flex;
  justify-content: space-between;
  width: calc(300px + 50vw);
  min-width: 840px;
  max-width: 940px;
  margin-top: 32px;
}

.filterButton {
  padding: 14px 16px 14px 16px;
  border: 2px solid var(--gray);
  background-color: transparent;
  border-radius: 32px;
}
.filterButton i {
  color: var(--main-blue);
  margin-right: 8px;
}
.filterButton:hover {
  background-color: var(--light-blue);
}
/* Hébergements & Les plus populaires */
#lodging,
#mostPopular {
  padding: 32px;
  border-radius: 20px;
  background-color: var(--gray);
}
#searchResults {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

/* Hébergements */
#lodging,
#mostPopular {
  height: 40vw;
  max-height: 560px;
}
#lodging {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62%;
}
.lodgingCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 78%;
  row-gap: 16px;
  column-gap: 8px;
}
#viewMoreButton {
  margin: 8px 0px 0px 0px;
  transition: all 0.5s ease-in-out;
  padding: 10px 8px 12px 8px;
  width: 98%;
  border-radius: 12px;
}
#viewMoreButton:hover {
  background-color: #cccccc;
}
#viewMoreButton i {
  transition: all 0.5s ease-in-out;
  transform: rotate(-0.25turn) translate(0px, 8px);
  opacity: 0;
}
#viewMoreButton:hover i {
  transform: translate(8px);
  opacity: 1;
}

/* les plus populaires */
#mostPopular {
  margin-left: 32px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.popularTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularTitle i {
  color: var(--main-blue);
}
.popularCardContainer {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Activités */
#activities {
  margin-top: 64px;
}
.activitiesCardContainer {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Cards */
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center center;
  transition: all 1s ease-in-out;
}
.card:hover:not(.small) img {
  width: 110%;
  object-position: -10px center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  flex: 1;
}
.description h3 {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
}
.description p {
  font-weight: 400;
  font-size: 14px;
}
.blueStar {
  color: var(--main-blue);
  font-size: 14px;
  letter-spacing: -1px;
}
.blueStar i:last-child {
  color: var(--gray);
}
/* Card per size */
.medium {
  width: 30%;
  /* min-height: 40%; */
  height: 13.5vw;
  max-height: 188px;
}
.small {
  width: calc(100% - 4px);
  height: 9vw;
  max-height: 128px;
  flex-direction: row;
}
.small img {
  height: 100%;
  width: 40%;
}
.small:hover img {
  height: 110%;
  object-position: center center;
}
.large {
  max-height: none;
  height: 33vw;
  max-height: 420px;
  width: 23%;
  border: none;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.large img {
  width: 100%;
  height: 90%;
}

/* Footer */
footer {
  margin: 64px var(--side-margin) 0px var(--side-margin);
  padding-top: 40px;
  padding-bottom: 64px;
  display: flex;
  background-color: var(--gray);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: space-around;
}
.footerLinkList {
  width: 33%;
  list-style-type: none;
  margin: 0px;
  padding-left: 64px;
}
.footerTitle {
  font-size: 16px;
}
.footerLink {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
}

/* Media queries */
@media all and (768px <= width) {
  .mobileSearchButton {
    display: none;
    /* width: 0px;
    height: 0px; */
  }
}
@media all and (1100px < width <= 1280px) {
  .title {
    font-size: 20px;
  }
  .description {
    padding: 8px 12px 8px 12px;
  }
  .description h3 {
    font-size: 14px;
  }
  .description p,
  .blueStar {
    font-size: 12px;
  }
}
@media all and (width <= 1100px) {
  .title {
    font-size: 19px;
  }
  .description {
    padding: 8px;
  }
  .description h3 {
    font-size: 13px;
  }
  .description p,
  .blueStar {
    font-size: 11px;
  }
}

/* Interface tablette */

@media all and (768px <= width <= 992px) {
  h1 {
    font-size: 20px;
  }
  .subtitle {
    font-size: 14px;
  }
  /* Hebergement */
  #searchResults {
    flex-direction: column;
    align-items: center;
  }
  #lodging,
  #mostPopular {
    width: 90%;
  }
  #lodging {
    height: 50vw;
  }
  #mostPopular {
    height: 22vw;
    margin: 32px 0px 0px 0px;
  }
  .card {
    height: 45%;
  }
  .title {
    font-size: 20px;
  }
  .description {
    padding: 8px 12px 8px 12px;
  }
  .large .description {
    padding: 8px 24px 8px 18px;
  }
  .description h3 {
    font-size: 14px;
  }
  .popularCardContainer {
    flex-direction: row;
  }
  .small {
    height: 90%;
    width: 30%;
  }
  .large {
    height: 28vw;
  }
  .large img {
    height: 80%;
  }
  #filtres {
    min-width: 0px;
    width: 84vw;
  }
  #filtres h2,
  .filterButton,
  .filterButton i,
  #searchBar label,
  #searchInput,
  #searchInput::placeholder,
  #searchButton {
    font-size: 15px;
  }
  .filterButton {
    height: 40px;
    padding: 8px 12px 8px 12px;
  }
  #searchBar {
    height: 42px;
  }
  #searchBar label {
    width: 40px;
  }
  #viewMoreButton {
    width: 20%;
  }
  #viewMoreButton:hover {
    background-color: transparent;
  }
  #viewMoreButton:hover i {
    opacity: 0;
  }
}

@media all and (width < 768px) {
  /* header */
  #bookiLogo {
    width: 20%;
  }
  header {
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  #navMenu {
    width: 100%;
  }
  #navMenu a {
    text-align: center;
    padding-bottom: 24px;
    margin-top: 32px;
  }
  .selectedNavButton {
    border-top: 0px;
    border-bottom: 3px solid var(--main-blue);
  }
  .navButton {
    border-bottom: 3px solid var(--gray);
  }
  .navButton:hover {
    color: var(--main-blue);
    border-top: none;
    padding-top: var(--header-padding-top);
    border-bottom: 3px solid #318aff;
    padding-bottom: calc(var(--header-padding-top) - 3px);
  }

  /* search */
  #search {
    width: 90%;
    padding: 0px 20px 0px 20px;
  }

  #searchBar {
    margin-top: 40px;
    width: 100%;
  }
  #searchButton {
    display: none;
  }
  .mobileSearchButton {
    background: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 0px 16px 16px 0px;
    color: #ffffff;
    width: 54px;
    font-size: 16px;
  }
  #searchBar fieldset,
  #filtres,
  #searchResults {
    width: 100%;
  }
  #searchBar label {
    border-radius: 16px 0px 0px 16px;
  }
  #searchInput {
    width: 90%;
  }

  /* filtres */
  #filtres {
    margin: 0px;
    margin-top: 24px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
    min-width: unset;
    justify-content: space-around;
  }
  #filtres h2 {
    width: 100%;
    position: relative;
    top: 24px;
  }
  .filterButton {
    padding: 14px 8px 14px 16px;
    width: 47%;
    max-width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
  }
  .filterButton i {
    width: 15%;
    margin-right: 4px;
  }
  .info {
    width: 90%;
    margin-left: 10%;
  }
  .infoIcon {
    position: absolute;
    left: 6.5%;
    width: 16px;
    height: 16px;
  }
  .infoIcon i {
    font-size: 8px;
    right: 0px;
    bottom: 0px;
  }
  /* main */
  main {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #searchResults {
    flex-direction: column-reverse;
  }
  #lodging {
    background-color: transparent;
  }

  /* cards */

  #viewMoreButton {
    display: none;
  }
  #activities {
    width: 90%;
    border-radius: 0px;
    margin: 54px 0px 0px 0px;
  }
  #lodging,
  #mostPopular {
    padding: 20px;
    max-height: none;
    height: auto;
    width: auto;
    border-radius: 0px;
    margin: 0px;
  }
  .lodgingCardContainer,
  .popularCardContainer,
  .activitiesCardContainer {
    flex-direction: column;
    row-gap: 24px;
  }
  .small,
  .medium,
  .large {
    min-width: 80%;
    width: auto;
    /* max-width: 400px; */
    height: 45vw;
  }
  .small {
    max-height: 150px;
  }
  .medium,
  .large {
    max-height: 200px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    padding: 14px 24px 14px 24px;
  }
  .description h3 {
    font-size: 14px;
  }
  .large img {
    height: 80%;
  }

  footer {
    margin: 64px 0px 0px 0px;
    flex-direction: column;
  }
  .footerLinkList {
    width: 100%;
    margin-top: 24px;
    padding-left: 24px;
  }
}
@media all and (380px <= width <= 600px) {
  h1 {
    font-size: 24px;
  }
  .title {
    font-size: 22px;
  }
  .description h3 {
    font-size: 16px;
  }
  .description p,
  .blueStar {
    font-size: 14px;
  }
}
@media all and (width <= 380px) {
  h1 {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
  }
  .description h3 {
    font-size: 15px;
  }
  .description p,
  .blueStar {
    font-size: 13px;
  }
  .filterButton {
    font-size: 12px;
  }
  #filtres {
    column-gap: 8px;
  }
}
